/* line 1, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 2, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
html, body {
  margin: 0;
  height: 100%; }

/* line 3, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #212121;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font: 24px/1.4 "RobotoDraft", sans-serif;
  color: #fff; }

/* line 12, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em; }

/* line 18, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
h1 {
  font-weight: 400;
  font-size: 2em;
  cursor: default;
  margin: 0 0 0.5em 0; }

/* line 25, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox'] {
  height: 0;
  width: 0; }

/* line 27, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox'] + label {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em 0;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  color: #9E9E9E; }
  /* line 15, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label 0% {
    width: 0;
    height: 0;
    border-color: #212121;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg); }
  /* line 21, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label 33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg); }
  /* line 26, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label 100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg); }

/* line 37, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox'] + label > ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1); }
  /* line 3, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label > ins 0% {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  /* line 6, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label > ins 33% {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85); }
  /* line 9, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label > ins 100% {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  /* line 15, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label > ins 0% {
    width: 0;
    height: 0;
    border-color: #212121;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg); }
  /* line 21, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label > ins 33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg); }
  /* line 26, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox'] + label > ins 100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg); }

/* line 51, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox'] + label > ins > i {
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: #a10000; }

/* line 58, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox'] + label > span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  color: #9E9E9E; }

/* line 73, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label {
  color: #fff; }

/* line 77, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span {
  background: rgba(255, 255, 255, 0.1); }

/* line 80, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox']:checked + label > ins {
  height: 100%; }

/* line 82, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox']:checked + label > span {
  border: 0.5em solid red;
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1); }
  /* line 3, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox']:checked + label > span 0% {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  /* line 6, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox']:checked + label > span 33% {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85); }
  /* line 9, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox']:checked + label > span 100% {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  /* line 15, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox']:checked + label > span 0% {
    width: 0;
    height: 0;
    border-color: #212121;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg); }
  /* line 21, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox']:checked + label > span 33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg); }
  /* line 26, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/mixins */
  input[type='checkbox']:checked + label > span 100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg); }

/* line 88, /Users/shawnag/Desktop/3rd Year/Semester 6/Web Dev/exercise-4/scss/components/main */
input[type='checkbox']:checked + label > span:before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0.2em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
          animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards; }
